

<app-navbar></app-navbar>
<router-outlet></router-outlet>


  <section style="padding-top: 2%;">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Tags</h4>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Placements</a></li>
            <li><a href="#">Activities</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Student Section</h4>
          <ul>
            <li><a href="#">Student Grievances</a></li>
            <li><a href="#">Study Material Status</a></li>
            <li><a href="#">Placement Assistance</a></li>
            
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
 </footer>
</section>
