<div class="container-fluid">
  <!-- Navigation bar -->
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../../assets/img/logohrms.jpg" alt="HRM Dashboard Logo" class="img-fluid logo" style="max-height: 50px; border-radius: 15px;">

            </a>
          <div class="collapse navbar-collapse">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <div>
                      <strong style="font-size: 20px; color: #56008d">{{ userEmail }} </strong>
                    </div>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
      
  

<!-- Page content -->
<div class="container-fluid py-2 bg-light">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mt-1">
        <div class="card-body">
          <h1 class="card-title display-4 text-center mb-4"><b>Welcome {{ userName }}</b></h1>




          <!-- <p class="lead text-center mb-4">Manage Your Employees</p> -->
          <hr>
          <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
              <div class="card h-100 shadow">
                <div class="card-body">
                  <h5 class="card-title text-center">Manage Your Employees</h5>
                  <p class="card-text">Effortlessly manage a centralized repository of your workforce. Seamlessly modify, add, or remove employee details as required.</p>
                </div>
              </div>
            </div>
           
          </div>
          <hr>
          <p style="text-align: right;">For any assistance or inquiries, please contact our support team.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-items></app-items>
<app-feedback-form></app-feedback-form>

  
  
  
  
  







    
