<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
           <!-- Team member -->
           <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="assets/img/prateek.jpeg" alt="card image"></p>
                                <h4 class="card-title">Prateek Kumar 
</h4>
                                <p class="card-text">Bridging the gap between ambition and accomplishment, guiding HRM's digital realm towards visionary success.</p>
                                <a href="https://www" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title"> About Prateek</h4>
                                <p class="card-text">Team Leader </p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                         <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/prateekmishrasetter1223/">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                         <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/prateek-mishra-5688ba19a/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/notprateek.exe/?next=%2F">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                         <a class="social-icon text-xs-center" target="_blank" href="https://prateekm809.github.io/My_Portfolio_/">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/img/krati.jpeg" alt="card image"></p>
                                    <h4 class="card-title">Krati Shukla 
</h4>
                                    <p class="card-text">Orchestrating organizational excellence by harmonizing strategy with execution, fostering innovation and collaboration within the team.</p>
                                    <a href="https://www" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">About Krati</h4>
                                    <p class="card-text">Co-Leader </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                             <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/krati.shukla.1848/">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                             <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/krati-shukla-062144237/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/_shukla_kriti/?igshid=Yzg5MTU1MDY%3D">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                             <a class="social-icon text-xs-center" target="_blank" href="https://shuklakrati.github.io/Creative-CV/">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="assets/img/anshika.jpeg" alt="card image"></p>
                                  <h4 class="card-title">Anshika Patel
</h4>
                                  <p class="card-text">Breathing life into designs and transforming HRM's vision into captivating user experiences, blending creativity with cutting-edge technologies.</p>
                                  <a href="https://www" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">About Anshika</h4>
                                  <p class="card-text">Team Member</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                           <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/profile.php?id=100089120659544&mibextid=ZbWKwL">
                                              <i class="fa fa-facebook"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                           <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/anshika-patel-177867237?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                                              <i class="fa fa-linkedin"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/i__anshikap_atel?igsh=dXY5bXlxcno2MnR3">
                                              <i class="fa fa-instagram"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                           <a class="social-icon text-xs-center" target="_blank" href="https://anshikaportfolio.s3-web.jp-tok.cloud-object-storage.appdomain.cloud/#home">
                                              <i class="fa fa-link"></i>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="assets/img/drishti.jpg" alt="card image"></p>
                                <h4 class="card-title">Drishti
</h4>
                                <p class="card-text">Crafting robust solutions and elegant code to power HRM's digital infrastructure, ensuring seamless functionality and data integrity.</p>
                                <a href="https://www" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">About Drishti</h4>
                                <p class="card-text">Team Member </p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                         <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/profile.php?id=100070346917029">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                         <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/drishti-chakarvarty-44b199289">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/miss_chakarvarty?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                         <a class="social-icon text-xs-center" target="_blank" href="https://portfoliodc.s3-web.ams03.cloud-object-storage.appdomain.cloud/">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="assets/img/kumkum.jpeg" alt="card image"></p>
                              <h4 class="card-title">Kumkum
</h4>
                              <p class="card-text">Crafting intuitive interfaces and responsive layouts, ensuring a delightful journey for users navigating HRM's digital ecosystem.</p>
                              <a href="https://www" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">About Kumkum</h4>
                              <p class="card-text">Useless Team Member </p>
                              <ul class="list-inline">
                                  <li class="list-inline-item">
                                       <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/profile.php?id=100031299405861">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </li>
                                  <li class="list-inline-item">
                                       <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/kumkum-singh-0a408a1b1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/kumkumrajput8899?igsh=MXNubGo4MmVsMDQxeA==">
                                          <i class="fa fa-instagram"></i>
                                      </a>
                                  </li>
                                  <li class="list-inline-item">
                                       <a class="social-icon text-xs-center" target="_blank" href="https://kumkum99.github.io/em-1portfolio/">
                                          <i class="fa fa-link"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/img/sajan.png" alt="card image"></p>
                                    <h4 class="card-title">Sajan Sharma
</h4>
                                    <p class="card-text">Weaving design magic from wireframes to mockups, enriching HRM's brand identity and user experience with every stroke.</p>
                                    <a href="https://www" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">About Sajan</h4>
                                    <p class="card-text">Team Member </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/img/anju.jpeg" alt="card image"></p>
                                    <h4 class="card-title">Anju Luthra 
</h4>
                                    <p class="card-text">Sculpting visual narratives that captivate and engage, infusing HRM's digital canvas with aesthetics and usability.</p>
                                    <a href="https://www" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">About Anju</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is </p>
                                    <ul class="list-inline">
                                         <li class="list-inline-item">
                                             <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li> 
                                        <li class="list-inline-item">
                                             <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/anju-luthra-538955245/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                             <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/__i_am_anuu/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://anjuluthra13.github.io/em-1-project/">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/img/jassi.jpg" alt="card image"></p>
                                    <h4 class="card-title">Jaspreet Kaur
</h4>
                                    <p class="card-text">Crafting intuitive interfaces and responsive layouts, ensuring a delightful journey for users navigating HRM's digital ecosystem.</p>
                                    <a href="https://www." class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">About Jaspreet</h4>
                                    <p class="card-text">Team Member </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                             <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                             <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/img/sumit.jpeg" alt="card image"></p>
                                    <h4 class="card-title">Sumit Pandey 
</h4>
                                    <p class="card-text">Weaving design magic from wireframes to mockups, enriching HRM's brand identity and user experience with every stroke.</p>
                                    <a href="https://www" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">About Sumit 
</h4>
                                    <p class="card-text">Team Member </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->